<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
    </li>
    <li>
        <a class="mouse-over" ng-click="vm.changeView('components/home/homepage.html',3)">Lista pazienti</a>
    </li>
    <li>
        <a class="mouse-over" ng-click="vm.changeView()">Statistiche</a>
    </li>
    <li>
        <a class="mouse-over" ng-click="vm.changeView('components/home/editDoctors.html',2)">Lista medici</a>
    </li>
    <li>
        <a class="mouse-over" ng-click="vm.changeView('components/home/editUsers.html',1)">Lista utenti</a>
    </li>
  </ul>
</div>
<!-- /#sidebar-wrapper -->
