<div class="row">
    <div class="row">
      <div class="col-md-2 col-md-offset-8">
        <button class="btn btn-success" type="button" ng-click="vm.changeView('components/home/editPatient.html',4)"><span class="glyphicon glyphicon-plus"> Inserisci paziente</span></button>
      </div>
    </div>
    <br/>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID paziente</th>
          <th>Data visita</th>
          <th>Data presunto parto</th>
          <th>Regime</th>
          <th>Medico</th>
          <th>Analgesia</th>
          <th>Anestesia</th>
          <th>Studio di riferimento</th>
        </tr>
      </thead>
      <tbody>
        <tr class="mouse-over" ng-repeat="patient in vm.patients" ng-dblclick="vm.changeView('components/home/editInfo.html',4,patient.id)">
          <td><center>{{patient.id}}</center></td>
          <td>{{patient.c1s1 | date : 'yyyy-MM-dd'}}</td>
          <td>{{patient.c1s3 | date : 'yyyy-MM-dd'}}</td>
          <td>{{patient.c1s2}}</td>
          <td>{{patient.doctor}}</td>
          <td><span class="glyphicon" ng-class="{'glyphicon-remove':!patient.agid, 'glyphicon-ok':patient.agid}"><span></td>
          <td><span class="glyphicon" ng-class="{'glyphicon-remove':!patient.anid, 'glyphicon-ok':patient.anid}"><span></td>
          <td><a ng-click="vm.changeView('components/home/studies/parer.html',6,patient.id)" class="mouse-over">{{patient.acronym}}</a></td>
          </tr>
      </tbody>
    </table>
</div>

<!-- TODO: in statistiche, scaricare il dataset riguardante lo studio -->
